<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdwWEdM08mblZnrx2FZ_sXagCg1i06EDU</string>
	<key>GCM_SENDER_ID</key>
	<string>484073222101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imApp</string>
	<key>PROJECT_ID</key>
	<string>mychat-1a8ad</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-1a8ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484073222101:ios:88c7b3c8bd58190fb9575c</string>
</dict>
</plist>